/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #f9f9f9;
}

/* Header Styles */
header {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
}

header h1 {
	margin: 0;
}



main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

.goals-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.goals-wrap {
	flex-basis: 45%;
	margin: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
    min-width: 45%;
}

.goals-list {
	background-color: #fff;
	padding: 1em;
	margin: 1em;
	border-radius: 1em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.goals-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.goals-list li {
	margin-bottom: 1em;
}
#usefulLinks {
    background-color: #f7f7f7;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  }
  
  #usefulLinks p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  #links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #links li {
    margin-right: 20px;
  }
  
  #links a {
    text-decoration: underline;
    color: #337ab7;
  }
  
  #links a:hover {
    color: #23527c;
  }
a {
	color: #337ab7;
	text-decoration: underline;

}

a:hover {
	color: green;
}

/* Footer Styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
}

[data-testid="currentDay"] {
	font-size: 1.2em;
	color: #fff;
	background-color: #333;
	padding: 0.5em 1em;
	border-radius: 1em;
	margin-right: 1em;
}

[data-testid="currentTimeUTC"] {
	font-size: 1.2em;
	color: #fff;
	background-color: #333;
	padding: 0.5em 1em;
	border-radius: 1em;
}


.header-info {
	display: flex;
	align-items: center;
}

@media (max-width: 480px) {
    header {
        padding: 1em 0.5em;
    }

    main {
        padding: 1em;
    }

    .goals-wrap {
        margin: 1em 0;
        padding: 1em;
    }

    #usefulLinks {
        padding: 1em;
    }

    #links {
        flex-direction: column;
        align-items: center;
    }

    .header-info {
        flex-direction: column;
        align-items: center;
    }
}